.info {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px 10px;
}

.infoContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.infoContent {
    min-width: 250px;
    max-width: 400px;
    width: 100%;
    flex: 1;
    margin: 0 16px;
}

.infoContentTitle {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.infoContentTitle h2 {
    font-size: 2rem;
    font-weight: 400;
    transform: translateY(4px);
    flex: 3;
}

.infoContentTitle button {
    flex: 2;
}